/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require welcome
 *= require screen
 *= require facebox
 *= require jquery.notifyBar
*/
/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* line 26, ../../app/assets/stylesheets/application.css.scss */
body.common {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #726e6b;
  background: #f9f5e9;
}
/* line 27, ../../app/assets/stylesheets/application.css.scss */
body.common .red, body.common .error_notification {
  color: red;
}
/* line 31, ../../app/assets/stylesheets/application.css.scss */
body.common th {
  font-weight: bold;
}
/* line 35, ../../app/assets/stylesheets/application.css.scss */
body.common th, body.common td {
  padding: 2px 10px;
}
/* line 44, ../../app/assets/stylesheets/application.css.scss */
body.common a {
  color: #1d648d;
}
/* line 48, ../../app/assets/stylesheets/application.css.scss */
body.common a:hover {
  font-weight: bold;
}
/* line 54, ../../app/assets/stylesheets/application.css.scss */
body.common ul {
  margin-bottom: 10px;
}
/* line 58, ../../app/assets/stylesheets/application.css.scss */
body.common li {
  list-style: square;
}
/* line 25, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.common .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(2.083%, rgba(100, 100, 225, 0.25)), color-stop(2.083%, rgba(0, 0, 0, 0)), color-stop(3.125%, rgba(0, 0, 0, 0)), color-stop(3.125%, rgba(100, 100, 225, 0.25)), color-stop(5.208%, rgba(100, 100, 225, 0.25)), color-stop(5.208%, rgba(0, 0, 0, 0)), color-stop(6.25%, rgba(0, 0, 0, 0)), color-stop(6.25%, rgba(100, 100, 225, 0.25)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(9.375%, rgba(0, 0, 0, 0)), color-stop(9.375%, rgba(100, 100, 225, 0.25)), color-stop(11.458%, rgba(100, 100, 225, 0.25)), color-stop(11.458%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(14.583%, rgba(100, 100, 225, 0.25)), color-stop(14.583%, rgba(0, 0, 0, 0)), color-stop(15.625%, rgba(0, 0, 0, 0)), color-stop(15.625%, rgba(100, 100, 225, 0.25)), color-stop(17.708%, rgba(100, 100, 225, 0.25)), color-stop(17.708%, rgba(0, 0, 0, 0)), color-stop(18.75%, rgba(0, 0, 0, 0)), color-stop(18.75%, rgba(100, 100, 225, 0.25)), color-stop(20.833%, rgba(100, 100, 225, 0.25)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(21.875%, rgba(0, 0, 0, 0)), color-stop(21.875%, rgba(100, 100, 225, 0.25)), color-stop(23.958%, rgba(100, 100, 225, 0.25)), color-stop(23.958%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(27.083%, rgba(100, 100, 225, 0.25)), color-stop(27.083%, rgba(0, 0, 0, 0)), color-stop(28.125%, rgba(0, 0, 0, 0)), color-stop(28.125%, rgba(100, 100, 225, 0.25)), color-stop(30.208%, rgba(100, 100, 225, 0.25)), color-stop(30.208%, rgba(0, 0, 0, 0)), color-stop(31.25%, rgba(0, 0, 0, 0)), color-stop(31.25%, rgba(100, 100, 225, 0.25)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(34.375%, rgba(0, 0, 0, 0)), color-stop(34.375%, rgba(100, 100, 225, 0.25)), color-stop(36.458%, rgba(100, 100, 225, 0.25)), color-stop(36.458%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(39.583%, rgba(100, 100, 225, 0.25)), color-stop(39.583%, rgba(0, 0, 0, 0)), color-stop(40.625%, rgba(0, 0, 0, 0)), color-stop(40.625%, rgba(100, 100, 225, 0.25)), color-stop(42.708%, rgba(100, 100, 225, 0.25)), color-stop(42.708%, rgba(0, 0, 0, 0)), color-stop(43.75%, rgba(0, 0, 0, 0)), color-stop(43.75%, rgba(100, 100, 225, 0.25)), color-stop(45.833%, rgba(100, 100, 225, 0.25)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(46.875%, rgba(0, 0, 0, 0)), color-stop(46.875%, rgba(100, 100, 225, 0.25)), color-stop(48.958%, rgba(100, 100, 225, 0.25)), color-stop(48.958%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(52.083%, rgba(100, 100, 225, 0.25)), color-stop(52.083%, rgba(0, 0, 0, 0)), color-stop(53.125%, rgba(0, 0, 0, 0)), color-stop(53.125%, rgba(100, 100, 225, 0.25)), color-stop(55.208%, rgba(100, 100, 225, 0.25)), color-stop(55.208%, rgba(0, 0, 0, 0)), color-stop(56.25%, rgba(0, 0, 0, 0)), color-stop(56.25%, rgba(100, 100, 225, 0.25)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(59.375%, rgba(0, 0, 0, 0)), color-stop(59.375%, rgba(100, 100, 225, 0.25)), color-stop(61.458%, rgba(100, 100, 225, 0.25)), color-stop(61.458%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(64.583%, rgba(100, 100, 225, 0.25)), color-stop(64.583%, rgba(0, 0, 0, 0)), color-stop(65.625%, rgba(0, 0, 0, 0)), color-stop(65.625%, rgba(100, 100, 225, 0.25)), color-stop(67.708%, rgba(100, 100, 225, 0.25)), color-stop(67.708%, rgba(0, 0, 0, 0)), color-stop(68.75%, rgba(0, 0, 0, 0)), color-stop(68.75%, rgba(100, 100, 225, 0.25)), color-stop(70.833%, rgba(100, 100, 225, 0.25)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(71.875%, rgba(0, 0, 0, 0)), color-stop(71.875%, rgba(100, 100, 225, 0.25)), color-stop(73.958%, rgba(100, 100, 225, 0.25)), color-stop(73.958%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(77.083%, rgba(100, 100, 225, 0.25)), color-stop(77.083%, rgba(0, 0, 0, 0)), color-stop(78.125%, rgba(0, 0, 0, 0)), color-stop(78.125%, rgba(100, 100, 225, 0.25)), color-stop(80.208%, rgba(100, 100, 225, 0.25)), color-stop(80.208%, rgba(0, 0, 0, 0)), color-stop(81.25%, rgba(0, 0, 0, 0)), color-stop(81.25%, rgba(100, 100, 225, 0.25)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(84.375%, rgba(0, 0, 0, 0)), color-stop(84.375%, rgba(100, 100, 225, 0.25)), color-stop(86.458%, rgba(100, 100, 225, 0.25)), color-stop(86.458%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(89.583%, rgba(100, 100, 225, 0.25)), color-stop(89.583%, rgba(0, 0, 0, 0)), color-stop(90.625%, rgba(0, 0, 0, 0)), color-stop(90.625%, rgba(100, 100, 225, 0.25)), color-stop(92.708%, rgba(100, 100, 225, 0.25)), color-stop(92.708%, rgba(0, 0, 0, 0)), color-stop(93.75%, rgba(0, 0, 0, 0)), color-stop(93.75%, rgba(100, 100, 225, 0.25)), color-stop(95.833%, rgba(100, 100, 225, 0.25)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(96.875%, rgba(0, 0, 0, 0)), color-stop(96.875%, rgba(100, 100, 225, 0.25)), color-stop(98.958%, rgba(100, 100, 225, 0.25)), color-stop(98.958%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 30px, rgba(100, 100, 225, 0.25) 30px, rgba(100, 100, 225, 0.25) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 60px, rgba(100, 100, 225, 0.25) 60px, rgba(100, 100, 225, 0.25) 80px, rgba(0, 0, 0, 0) 80px, rgba(0, 0, 0, 0) 90px, rgba(100, 100, 225, 0.25) 90px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 180px, rgba(100, 100, 225, 0.25) 180px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 210px, rgba(100, 100, 225, 0.25) 210px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 260px, rgba(0, 0, 0, 0) 260px, rgba(0, 0, 0, 0) 270px, rgba(100, 100, 225, 0.25) 270px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 320px, rgba(0, 0, 0, 0) 320px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 390px, rgba(100, 100, 225, 0.25) 390px, rgba(100, 100, 225, 0.25) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 420px, rgba(100, 100, 225, 0.25) 420px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 510px, rgba(100, 100, 225, 0.25) 510px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 540px, rgba(100, 100, 225, 0.25) 540px, rgba(100, 100, 225, 0.25) 560px, rgba(0, 0, 0, 0) 560px, rgba(0, 0, 0, 0) 570px, rgba(100, 100, 225, 0.25) 570px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px, rgba(100, 100, 225, 0.25) 630px, rgba(100, 100, 225, 0.25) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 660px, rgba(100, 100, 225, 0.25) 660px, rgba(100, 100, 225, 0.25) 680px, rgba(0, 0, 0, 0) 680px, rgba(0, 0, 0, 0) 690px, rgba(100, 100, 225, 0.25) 690px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 780px, rgba(100, 100, 225, 0.25) 780px, rgba(100, 100, 225, 0.25) 800px, rgba(0, 0, 0, 0) 800px, rgba(0, 0, 0, 0) 810px, rgba(100, 100, 225, 0.25) 810px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 870px, rgba(100, 100, 225, 0.25) 870px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 930px, rgba(100, 100, 225, 0.25) 930px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 30px, rgba(100, 100, 225, 0.25) 30px, rgba(100, 100, 225, 0.25) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 60px, rgba(100, 100, 225, 0.25) 60px, rgba(100, 100, 225, 0.25) 80px, rgba(0, 0, 0, 0) 80px, rgba(0, 0, 0, 0) 90px, rgba(100, 100, 225, 0.25) 90px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 180px, rgba(100, 100, 225, 0.25) 180px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 210px, rgba(100, 100, 225, 0.25) 210px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 260px, rgba(0, 0, 0, 0) 260px, rgba(0, 0, 0, 0) 270px, rgba(100, 100, 225, 0.25) 270px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 320px, rgba(0, 0, 0, 0) 320px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 390px, rgba(100, 100, 225, 0.25) 390px, rgba(100, 100, 225, 0.25) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 420px, rgba(100, 100, 225, 0.25) 420px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 510px, rgba(100, 100, 225, 0.25) 510px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 540px, rgba(100, 100, 225, 0.25) 540px, rgba(100, 100, 225, 0.25) 560px, rgba(0, 0, 0, 0) 560px, rgba(0, 0, 0, 0) 570px, rgba(100, 100, 225, 0.25) 570px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px, rgba(100, 100, 225, 0.25) 630px, rgba(100, 100, 225, 0.25) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 660px, rgba(100, 100, 225, 0.25) 660px, rgba(100, 100, 225, 0.25) 680px, rgba(0, 0, 0, 0) 680px, rgba(0, 0, 0, 0) 690px, rgba(100, 100, 225, 0.25) 690px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 780px, rgba(100, 100, 225, 0.25) 780px, rgba(100, 100, 225, 0.25) 800px, rgba(0, 0, 0, 0) 800px, rgba(0, 0, 0, 0) 810px, rgba(100, 100, 225, 0.25) 810px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 870px, rgba(100, 100, 225, 0.25) 870px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 930px, rgba(100, 100, 225, 0.25) 930px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 30px, rgba(100, 100, 225, 0.25) 30px, rgba(100, 100, 225, 0.25) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 60px, rgba(100, 100, 225, 0.25) 60px, rgba(100, 100, 225, 0.25) 80px, rgba(0, 0, 0, 0) 80px, rgba(0, 0, 0, 0) 90px, rgba(100, 100, 225, 0.25) 90px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 180px, rgba(100, 100, 225, 0.25) 180px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 210px, rgba(100, 100, 225, 0.25) 210px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 260px, rgba(0, 0, 0, 0) 260px, rgba(0, 0, 0, 0) 270px, rgba(100, 100, 225, 0.25) 270px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 320px, rgba(0, 0, 0, 0) 320px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 390px, rgba(100, 100, 225, 0.25) 390px, rgba(100, 100, 225, 0.25) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 420px, rgba(100, 100, 225, 0.25) 420px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 510px, rgba(100, 100, 225, 0.25) 510px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 540px, rgba(100, 100, 225, 0.25) 540px, rgba(100, 100, 225, 0.25) 560px, rgba(0, 0, 0, 0) 560px, rgba(0, 0, 0, 0) 570px, rgba(100, 100, 225, 0.25) 570px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px, rgba(100, 100, 225, 0.25) 630px, rgba(100, 100, 225, 0.25) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 660px, rgba(100, 100, 225, 0.25) 660px, rgba(100, 100, 225, 0.25) 680px, rgba(0, 0, 0, 0) 680px, rgba(0, 0, 0, 0) 690px, rgba(100, 100, 225, 0.25) 690px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 780px, rgba(100, 100, 225, 0.25) 780px, rgba(100, 100, 225, 0.25) 800px, rgba(0, 0, 0, 0) 800px, rgba(0, 0, 0, 0) 810px, rgba(100, 100, 225, 0.25) 810px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 870px, rgba(100, 100, 225, 0.25) 870px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 930px, rgba(100, 100, 225, 0.25) 930px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 30px, rgba(100, 100, 225, 0.25) 30px, rgba(100, 100, 225, 0.25) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 60px, rgba(100, 100, 225, 0.25) 60px, rgba(100, 100, 225, 0.25) 80px, rgba(0, 0, 0, 0) 80px, rgba(0, 0, 0, 0) 90px, rgba(100, 100, 225, 0.25) 90px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 180px, rgba(100, 100, 225, 0.25) 180px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 210px, rgba(100, 100, 225, 0.25) 210px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 260px, rgba(0, 0, 0, 0) 260px, rgba(0, 0, 0, 0) 270px, rgba(100, 100, 225, 0.25) 270px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 320px, rgba(0, 0, 0, 0) 320px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 390px, rgba(100, 100, 225, 0.25) 390px, rgba(100, 100, 225, 0.25) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 420px, rgba(100, 100, 225, 0.25) 420px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 510px, rgba(100, 100, 225, 0.25) 510px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 540px, rgba(100, 100, 225, 0.25) 540px, rgba(100, 100, 225, 0.25) 560px, rgba(0, 0, 0, 0) 560px, rgba(0, 0, 0, 0) 570px, rgba(100, 100, 225, 0.25) 570px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px, rgba(100, 100, 225, 0.25) 630px, rgba(100, 100, 225, 0.25) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 660px, rgba(100, 100, 225, 0.25) 660px, rgba(100, 100, 225, 0.25) 680px, rgba(0, 0, 0, 0) 680px, rgba(0, 0, 0, 0) 690px, rgba(100, 100, 225, 0.25) 690px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 780px, rgba(100, 100, 225, 0.25) 780px, rgba(100, 100, 225, 0.25) 800px, rgba(0, 0, 0, 0) 800px, rgba(0, 0, 0, 0) 810px, rgba(100, 100, 225, 0.25) 810px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 870px, rgba(100, 100, 225, 0.25) 870px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 930px, rgba(100, 100, 225, 0.25) 930px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 30px, rgba(100, 100, 225, 0.25) 30px, rgba(100, 100, 225, 0.25) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 60px, rgba(100, 100, 225, 0.25) 60px, rgba(100, 100, 225, 0.25) 80px, rgba(0, 0, 0, 0) 80px, rgba(0, 0, 0, 0) 90px, rgba(100, 100, 225, 0.25) 90px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 180px, rgba(100, 100, 225, 0.25) 180px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 210px, rgba(100, 100, 225, 0.25) 210px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 260px, rgba(0, 0, 0, 0) 260px, rgba(0, 0, 0, 0) 270px, rgba(100, 100, 225, 0.25) 270px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 320px, rgba(0, 0, 0, 0) 320px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 380px, rgba(0, 0, 0, 0) 380px, rgba(0, 0, 0, 0) 390px, rgba(100, 100, 225, 0.25) 390px, rgba(100, 100, 225, 0.25) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 420px, rgba(100, 100, 225, 0.25) 420px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 510px, rgba(100, 100, 225, 0.25) 510px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 540px, rgba(100, 100, 225, 0.25) 540px, rgba(100, 100, 225, 0.25) 560px, rgba(0, 0, 0, 0) 560px, rgba(0, 0, 0, 0) 570px, rgba(100, 100, 225, 0.25) 570px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px, rgba(100, 100, 225, 0.25) 630px, rgba(100, 100, 225, 0.25) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 660px, rgba(100, 100, 225, 0.25) 660px, rgba(100, 100, 225, 0.25) 680px, rgba(0, 0, 0, 0) 680px, rgba(0, 0, 0, 0) 690px, rgba(100, 100, 225, 0.25) 690px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 780px, rgba(100, 100, 225, 0.25) 780px, rgba(100, 100, 225, 0.25) 800px, rgba(0, 0, 0, 0) 800px, rgba(0, 0, 0, 0) 810px, rgba(100, 100, 225, 0.25) 810px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 860px, rgba(0, 0, 0, 0) 860px, rgba(0, 0, 0, 0) 870px, rgba(100, 100, 225, 0.25) 870px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 920px, rgba(0, 0, 0, 0) 920px, rgba(0, 0, 0, 0) 930px, rgba(100, 100, 225, 0.25) 930px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 66, ../../app/assets/stylesheets/application.css.scss */
body.common h2 {
  font-size: 14px;
  font-weight: bold;
  color: #826d5d;
  padding-top: 26px;
  padding-bottom: 20px;
}
/* line 77, ../../app/assets/stylesheets/application.css.scss */
body.common h3 {
  font-size: 12px;
  font-weight: bold;
  color: #826d5d;
  padding-top: 20px;
  padding-bottom: 15px;
}
/* line 88, ../../app/assets/stylesheets/application.css.scss */
body.common h1 {
  font-size: 18px;
  font-weight: bold;
  color: #834741;
  padding-top: 25px;
  padding-bottom: 10px;
}
/* line 98, ../../app/assets/stylesheets/application.css.scss */
body.common .simple_form div.input {
  margin-bottom: 10px;
}
/* line 102, ../../app/assets/stylesheets/application.css.scss */
body.common .simple_form label {
  float: left;
  width: 130px;
  text-align: right;
  margin: 2px 10px;
}
/* line 114, ../../app/assets/stylesheets/application.css.scss */
body.common .simple_form input.text, body.common .simple_form input.title, body.common .simple_form input[type=email], body.common .simple_form input[type=text], body.common .simple_form input[type=password] {
  width: 200px;
}
/* line 119, ../../app/assets/stylesheets/application.css.scss */
body.common div.boolean, body.common .simple_form input[type='submit'] {
  margin-left: 150px;
}
/* line 123, ../../app/assets/stylesheets/application.css.scss */
body.common div.boolean label, body.common label.collection_radio {
  float: none;
  margin: 0;
}
/* line 128, ../../app/assets/stylesheets/application.css.scss */
body.common label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}
/* line 134, ../../app/assets/stylesheets/application.css.scss */
body.common .field_with_errors {
  background-color: #ffcaca;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 142, ../../app/assets/stylesheets/application.css.scss */
body.common .simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-top: 5px;
  margin-left: 150px;
  font-size: 12px;
  font-weight: bold;
}
/* line 154, ../../app/assets/stylesheets/application.css.scss */
body.common .simple_form .hint {
  clear: left;
  margin-left: 150px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}
/* line 163, ../../app/assets/stylesheets/application.css.scss */
body.common input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}
/* line 168, ../../app/assets/stylesheets/application.css.scss */
body.common input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}
/* line 173, ../../app/assets/stylesheets/application.css.scss */
body.common label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
/* line 182, ../../app/assets/stylesheets/application.css.scss */
body.common .form h1, body.common .form h2, body.common .form .links {
  padding-left: 150px;
}
/* line 186, ../../app/assets/stylesheets/application.css.scss */
body.common .form .warning {
  display: none;
  border: 2px solid #ff3333;
  background: #ffcaca;
  color: #000;
  padding: 5px;
  margin-top: 10px;
  margin-right: 20px;
}
/* line 196, ../../app/assets/stylesheets/application.css.scss */
body.common .form .note, body.common .form .warning {
  margin-left: 150px;
  margin-bottom: 15px;
}
/* line 203, ../../app/assets/stylesheets/application.css.scss */
body.common .form .links {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 214, ../../app/assets/stylesheets/application.css.scss */
body.application #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 218, ../../app/assets/stylesheets/application.css.scss */
body.application #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.application #header {
  overflow-x: hidden;
}
/* line 222, ../../app/assets/stylesheets/application.css.scss */
body.application #footer {
  padding-left: 240px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.application #footer {
  overflow-x: hidden;
}
/* line 231, ../../app/assets/stylesheets/application.css.scss */
body.application #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 170px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.application #sidebar {
  overflow-x: hidden;
}
/* line 235, ../../app/assets/stylesheets/application.css.scss */
body.application #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 770px;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding-bottom: 40px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.application #content {
  overflow-x: hidden;
}
/* line 246, ../../app/assets/stylesheets/application.css.scss */
body.application #header {
  margin-top: 20px;
}
/* line 248, ../../app/assets/stylesheets/application.css.scss */
body.application #header #logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 170px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.application #header #logo {
  overflow-x: hidden;
}
/* line 252, ../../app/assets/stylesheets/application.css.scss */
body.application #header #stuff {
  padding-left: 60px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 290px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.application #header #stuff {
  overflow-x: hidden;
}
/* line 257, ../../app/assets/stylesheets/application.css.scss */
body.application #header #account_links {
  display: inline;
  float: left;
  margin-right: 0;
  width: 380px;
  padding-right: 30px;
  text-align: right;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.application #header #account_links {
  overflow-x: hidden;
}
/* line 262, ../../app/assets/stylesheets/application.css.scss */
body.application #header #account_links .user_name {
  font-weight: bold;
  color: #826d5d;
}
/* line 267, ../../app/assets/stylesheets/application.css.scss */
body.application #header #account_links .separator {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 274, ../../app/assets/stylesheets/application.css.scss */
body.application #header #account_links .sign_out {
  margin-left: 20px;
}

/* line 283, ../../app/assets/stylesheets/application.css.scss */
body#home .blank, body#uploads .blank {
  background: url("/assets/blank.png") 30px 25px no-repeat;
  height: 550px;
  position: relative;
}
/* line 289, ../../app/assets/stylesheets/application.css.scss */
body#home .blank h1, body#uploads .blank h1 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid #e5ddc6;
  position: absolute;
  top: 160px;
  left: 200px;
  padding: 20px;
  background: #fff;
  width: 290px;
  text-align: center;
}
/* line 302, ../../app/assets/stylesheets/application.css.scss */
body#home a.upload, body#uploads a.upload {
  display: block;
  width: 121px;
  height: 29px;
  background: url("/assets/upload-button.png");
}
/* line 308, ../../app/assets/stylesheets/application.css.scss */
body#home a.upload:hover, body#uploads a.upload:hover {
  background: url("/assets/upload-button-active.png");
}
/* line 313, ../../app/assets/stylesheets/application.css.scss */
body#home ul.facebox, body#uploads ul.facebox {
  margin-left: 170px;
}
/* line 318, ../../app/assets/stylesheets/application.css.scss */
body#home #facebox .content, body#uploads #facebox .content {
  width: 450px;
}
/* line 322, ../../app/assets/stylesheets/application.css.scss */
body#home .books, body#uploads .books {
  padding-left: 30px;
}
/* line 325, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book, body#uploads .books .book {
  display: inline;
  float: left;
  margin-right: 0;
  width: 740px;
  font-size: 11px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#home .books .book, * html body#uploads .books .book {
  overflow-x: hidden;
}
/* line 329, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book h2, body#uploads .books .book h2 {
  padding-bottom: 10px;
  padding-top: 20px;
}
/* line 336, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .title, body#uploads .books .book .title {
  padding-left: 30px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#home .books .book .title, * html body#uploads .books .book .title {
  overflow-x: hidden;
}
/* line 341, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .total, body#uploads .books .book .total {
  margin-top: 10px;
  padding-top: 10px;
  width: 100px;
}
/* line 347, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months, body#uploads .books .book .months {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 530px;
  background: #f9f5ea;
  padding-bottom: 20px;
  position: relative;
}
/* line 348, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months h2, body#uploads .books .book .months h2 {
  padding-left: 30px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#home .books .book .months, * html body#uploads .books .book .months {
  overflow-x: hidden;
}
/* line 358, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months .month, body#uploads .books .book .months .month {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 100%;
  background: #e5ddc6;
  padding-left: 20px;
}
/* line 359, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months .month h2, body#uploads .books .book .months .month h2 {
  padding-left: 0;
}
/* line 368, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months .month .total, body#uploads .books .book .months .month .total {
  border-top: 1px dotted #a8a291;
}
/* line 374, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months .month.last_six, body#uploads .books .book .months .month.last_six {
  background: #e5ddc6;
}
/* line 374, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months .month.last_six h2, body#uploads .books .book .months .month.last_six h2 {
  color: #826d5d;
}
/* line 375, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months .month, body#uploads .books .book .months .month {
  background: #d4e9ec;
}
/* line 375, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .months .month h2, body#uploads .books .book .months .month h2 {
  color: #118793;
}
/* line 378, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .totals, body#uploads .books .book .totals {
  padding-left: 30px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 170px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#home .books .book .totals, * html body#uploads .books .book .totals {
  overflow-x: hidden;
}
/* line 382, ../../app/assets/stylesheets/application.css.scss */
body#home .books .book .totals .total, body#uploads .books .book .totals .total {
  border-top: 1px dotted #e3e2e1;
}
/* line 390, ../../app/assets/stylesheets/application.css.scss */
body#home .barchart, body#uploads .barchart {
  width: 280px;
  font-size: 11px;
  overflow: hidden;
  *zoom: 1;
  padding-left: 30px;
}
/* line 398, ../../app/assets/stylesheets/application.css.scss */
body#home .barchart .line, body#uploads .barchart .line {
  margin-right: 1px;
  width: 37px;
  float: left;
}
/* line 403, ../../app/assets/stylesheets/application.css.scss */
body#home .barchart .line .column, body#uploads .barchart .line .column {
  width: 37px;
  text-align: center;
}
/* line 408, ../../app/assets/stylesheets/application.css.scss */
body#home .barchart .line .data, body#uploads .barchart .line .data {
  background: #90c7ce;
}
/* line 409, ../../app/assets/stylesheets/application.css.scss */
body#home .barchart .line .blue, body#uploads .barchart .line .blue {
  background: #118793;
}
/* line 410, ../../app/assets/stylesheets/application.css.scss */
body#home .barchart .line .selected, body#uploads .barchart .line .selected {
  background: #118793;
}

/* line 416, ../../app/assets/stylesheets/application.css.scss */
body#home #upload {
  display: none;
}
/* line 421, ../../app/assets/stylesheets/application.css.scss */
body#home .number {
  color: #000;
  font-size: 120%;
}
/* line 426, ../../app/assets/stylesheets/application.css.scss */
body#home #book_list {
  position: absolute;
  z-index: 10000;
  overflow: visible;
  top: 65px;
}
/* line 432, ../../app/assets/stylesheets/application.css.scss */
body#home #book_list .navigation {
  position: absolute;
  top: 5px;
  left: -180px;
  width: 160px;
}
/* line 438, ../../app/assets/stylesheets/application.css.scss */
body#home #book_list .navigation ul {
  maring-left: 0;
  padding: 0;
}
/* line 442, ../../app/assets/stylesheets/application.css.scss */
body#home #book_list .navigation ul li {
  padding: 0 0 10px 0;
  margin: 0;
  list-style: none;
}

/* line 455, ../../app/assets/stylesheets/application.css.scss */
body#devise #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 459, ../../app/assets/stylesheets/application.css.scss */
body#devise #header, body#devise #footer {
  padding-left: 300px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 650px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#devise #header, * html body#devise #footer {
  overflow-x: hidden;
}
/* line 468, ../../app/assets/stylesheets/application.css.scss */
body#devise #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 410px;
  padding-left: 270px;
  padding-right: 270px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#devise #content {
  overflow-x: hidden;
}
/* line 474, ../../app/assets/stylesheets/application.css.scss */
body#devise #box {
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 478, ../../app/assets/stylesheets/application.css.scss */
body#devise #box h2, body#devise #box .links {
  padding-left: 150px;
}
/* line 482, ../../app/assets/stylesheets/application.css.scss */
body#devise #box .links {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 493, ../../app/assets/stylesheets/application.css.scss */
body#welcome #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 40px;
}
/* line 498, ../../app/assets/stylesheets/application.css.scss */
body#welcome #header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding-bottom: 10px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#welcome #header {
  overflow-x: hidden;
}
/* line 502, ../../app/assets/stylesheets/application.css.scss */
body#welcome #header #logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 260px;
  padding-left: 30px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#welcome #header #logo {
  overflow-x: hidden;
}
/* line 506, ../../app/assets/stylesheets/application.css.scss */
body#welcome #header #links {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
  padding-right: 30px;
  text-align: right;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#welcome #header #links {
  overflow-x: hidden;
}
/* line 513, ../../app/assets/stylesheets/application.css.scss */
body#welcome #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#welcome #content {
  overflow-x: hidden;
}
/* line 516, ../../app/assets/stylesheets/application.css.scss */
body#welcome #content #links {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 290px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#welcome #content #links {
  overflow-x: hidden;
}
/* line 520, ../../app/assets/stylesheets/application.css.scss */
body#welcome #content #intro {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  background: #fff;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@indie/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body#welcome #content #intro {
  overflow-x: hidden;
}
/* line 536, ../../app/assets/stylesheets/application.css.scss */
body#welcome #content #intro .header {
  font-size: 23px;
  color: #826d5d;
}
/* line 541, ../../app/assets/stylesheets/application.css.scss */
body#welcome #content #intro .sign_up {
  margin-top: 30px;
  font-size: 23px;
}
/* line 545, ../../app/assets/stylesheets/application.css.scss */
body#welcome #content #intro .sign_up a {
  padding: 5px 10px;
}
