#book_list
  .navigation
    %h2 Your Books
    %ul
      - @books.each do |book|
        %li
          %a{ href: "#book_#{book.id}" }= book.title
  
:javascript
  $(window).scroll(function () { 
    if ($(window).scrollTop() > 65) {
      $("#book_list").css("position", "fixed");
      $("#book_list").css("top", "0px");
    } else {
      $("#book_list").css("position", "absolute");
      $("#book_list").css("top", "65px");
    }
  });
