%h2 Monthly Book Sales in Units
#visualization{ style: "width:710px;height:220px" }

:javascript
  $(function drawVisualization() {
    #{raw_data(@sales)}

    // Create and populate the data table.
    var data = google.visualization.arrayToDataTable(rowData);

    // Create and draw the visualization.
    var ac = new google.visualization.ComboChart(document.getElementById('visualization'));
    ac.draw(data, {
      width: 710,
      height: 200,
      seriesType: "bars",
      series: { 5: {type: 'line'}, 6: { type: 'line'}},
      chartArea: {left: 30, top: 4, width: 500, height: 180},
      fontSize: 11,
      fontName: 'PT Sans',
      pointSize: 3,
      tooltip: {textStyle: {color: '#726E6B'}},
      legend: {textStyle: {color: '#726E6B'}, position: 'right'},
      vAxis: {textStyle: {color: '#726E6B', fontSize: 10}, baselineColor: '#726E6B', textPosition: 'in', },
      hAxis: {textStyle: {color: '#726E6B'}},
    });
  });
