= render :partial => 'uploads/form'

- if @books.blank?
  = render :partial => 'shared/blank'
- else
  #dashboard
    %h1 Dashboard
    = render 'shared/totals_with_date_range'

    %h2 Monthly Book Sales in Units
    #visualization{ style: "width:740px;height:240px" }

    :javascript
      $(function drawVisualization() {
        #{sales_chart(Indie::Chart::Sales.new(@sales, :show_trend => true, :period => @date_range), :render_to => 'visualization')}
      });
