- content_for :stuff do
  %a{href: "#upload", rel: "facebox", class: "upload"}

= render :partial => 'uploads/form'

- if @books.blank?
  = render :partial => 'blank'
- else
  -# = render :partial => 'book_list'
  #dashboard
    = render 'dashboard'
  #books
    = render 'books'
