%h2 About us
%p PragAuthor is a web site for consolidating sales figures that Authors receive from different sources.  At this moment we support Amazon, Barnes & Noble and SmashWords.
%p We love hearing from interested authors, bloggers and press!  Please email any questions to <a href="mailto:welcome@pragauthor.com">welcome@pragauthor.com</a>

%h3 Credits
%p Several people contributed to PragAuthor.
%p The idea for PragAuthor was inspired after a blog post of Dean Wesley Smith.  Pavel Gabriel the :D. Yves Hanoulle the inventor, sponsor

%p The following people have also contributed and were instrumental in getting things started:
%ul
  %li Els Ryssen, Aleksey Gusev, Natalia Gabriel

%h3 The Technology Stack
%p This site is built with Rails 3, Cucumber, RSpec, Github and hosted at RackSpace
