%h2 Contact
%p PragAuthor is a service provided by Objectsoft bvba. Founded by Pavel Gabriel and Yves Hanoulle.

%p You can reach us at <a href="mailto:welcome@pragauthor.com">welcome@pragauthor.com</a>

%p
  Our mailing address is:
  %br
  Congregatiestraat 16
  %br
  9031 Drongen
  %br
  Belgium
  %br
  Phone: 00 32 476 43 38 32
  %br
  Skype: <a href="skype:YvesHanoulle">YvesHanoulle</a> or <a href="skype:pavel.gabriel">pavel.gabriel</a>
