%h1 Contact
%p PragAuthor is a service provided by Objectsoft bvba.

%p You can reach us at <a href="mailto:welcome@pragauthor.com">welcome@pragauthor.com</a>

%h2 Mailing address
%p
  Congregatiestraat 16
  %br
  9031 Drongen
  %br
  Belgium
  %br
  Phone: 00 32 476 43 38 32
  %br
  Skype: <a href="skype:YvesHanoulle">YvesHanoulle</a> or <a href="skype:pavel.gabriel">pavel.gabriel</a>
