= render :partial => 'uploads/form'

- if @books.blank?
  = render :partial => 'shared/blank'
- else
  #vendors
    %h1 Vendors

    = render 'shared/totals_with_date_range'

    %h2 Monthly Book Sales in Units by Vendor
    #vendor_units{ style: "width:740px;height:240px" }

    :javascript
      $(function drawVisualization() {
        #{sales_chart(Indie::Chart::VendorSales.new(@sales, :show_trend => false, :period => @date_range), :render_to => 'vendor_units')}
      });
