body.application {
  #books {
    .list {
      margin: 20px 30px;
    }
    @include clearfix;

    .book {
      float: left;
      .bookmark {
        display: none;
        position: relative;
        top: 0;
        left: 100px;
        width: 13px;
        height: 23px;
        background: url(/assets/bookmark.png) no-repeat;
      }
      a {
        display: block;
        float: left;
        width: 100px;
        height: 130px;
        background: url(/assets/binder.gif) left repeat-y #f9f5e9;
        margin: 0 12px 25px 0;
        padding: 40px 8px 10px 20px;
        text-align: center;
        color: #835541;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        @include single-box-shadow(#a3a3a3, 0,0, 2px);
        @include border-radius(0 5px 5px 0);
        behavior: url(/css-ie/PIE.htc);
      }
    }
  }

  /* dark: #bda99f; */
  /* light: #d5c5be; */
   
  #book {
    h1 {
      padding-bottom: 25px;
      width: 400px;
    }

    h2 {
      padding-left: 0;
      color: #835541;
    }
    #head {
      background: url('/assets/head-bg.gif') bottom;
      @include border-radius(5px 5px 0 0);
      behavior: url(/css-ie/PIE.htc);
      @include clearfix;
    }

    .submenu ul {
      position: relative;
      top: 1px;
      margin: 0 0 8px 30px;
      padding: 0;

      li.title {
        margin-right: 5px;
        margin-left: 15px;
        color: #bfaba2;
      }
      li.selected {
        a {
          background: #fff;
        }
      }
      li {
        display: inline;
        list-style: none;
        font-size: 14px;
        color: #835541;
        margin-right: 3px;

        a {
          font-size: 12px;
          font-weight: bold;
          text-decoration: none;
          color: #835541;
          padding: 8px 20px;
          @include border-radius(3px 3px 0 0);
          border: solid;
          border-width: 1px 1px 0 1px;
          border-color: #d5c5be;
        }
      }
    }
    position: relative;

    .review_params {
      position: absolute;
      right: 30px;
      top: 3px;
    }

    .charts {
      @include clearfix;
      margin-left: 30px;

      .table {
        float: left;
      }

      .chart {
        float: right;
      }
    }

    table.royalties {
      /* font-size: 12px; */

      th, td {
        padding: 3px 10px;
        width: 60px;
        text-align: right;
      }

      th:first-child, td:first-child {
        /* padding-left: 10px; */
        text-align: left;
      }

      thead tr th {
        border-bottom: 2px solid #726E6B;
      }
      tbody tr th {
        border-bottom: 1px solid #726E6B;
      }
      tbody tr td {
        border-bottom: 1px solid #726E6B;
      }

      tbody tr td:first-child {
        width: 100px;
      }
    }
  }
}
