// Place all the styles related to the wellcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require facebox
*/

@import "blueprint/reset";
@import "blueprint";

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

h1, h2, h3 {
  color: #826d5d;
  font-weight: bold;
}

h1 {
  font-size: 23px;
  margin: 0px 0 20px 0;
}

h2 {
  font-size: 20px;
  margin: 0px 0 15px 0;
}

h3 {
  font-size: 16px;
  margin: 0px 0 10px 0;
}

p {
  margin-bottom: 10px;
}

ul { margin-left: 20px; margin-bottom: 10px; }

body.common {
  background: #f9f5e9;
  a { color: #a18169; }
  font: {
    family: 'PT Sans', sans-serif;
    size: 14px;
  }
}

body#welcome {
  #container {
    width: $blueprint-container-size;
    margin: 0 auto;
    @include pie-clearfix;
  }

  #header, #content, #footer  {
    @include column(24, true);
  }

  #footer {
    margin: 20px 0;
    p {
      margin-left: 20px;
      color: #a18163;
      font-size: 11px;
    }
  }
  #header {
    margin: 10px 0;

    #logo {
      float: left;
      margin-left: 20px;
    }

    #navigation {
      float: left;

      margin: {
        top: 14px;
        left: 80px;
      }

      font-size: 20px;

      ul { margin: 0; }

      ul li {
        list-style: none;
        display: inline;
        margin-right: 15px;

      }
      ul li.selected {
        font-weight: bold;
      }
    }

    #links {
      float: right;
      margin: {
        top: 20px;
        right: 20px;
      }
    }
  }


  #content {
    padding: 30px 20px;
    background: #fff;
    @include single-box-shadow(#a3a3a3, 0,0, 2px);
    @include border-radius;
    behavior: url(/css-ie/PIE.htc);

    .intro {
      margin: 0px 0 20px 0;
      font-size: 23px;
      color: #826d5d;
      text-align: center;
    }

    .action {
      .sign_up {
        text-align: center;
        width: 200px;
        margin: 0 auto;
        background: #a18169;
        @include border-radius;
        behavior: url(/css-ie/PIE.htc);
        padding: 10px 30px;
        color: #fff;
      }

      .sign_up a {
        color: #fff;
        font-size: 23px;
      }
    }

    #video { display: none; }

    .gallery {
      margin: 20px 0;
      text-align: center;

      a.video {
        text-decoration: none;
        img {
          border: 3px #e6dcbe solid;
        }
      }
      a.video:hover {
        img {
          border: 3px #c4b587 solid;
        }
      }
    }
  }
}
