= render :partial => 'uploads/form'

%h2 Uploads
%table.uploads
  %thead
    %tr
      %th File name
      %th Uploaded at
  - @uploads.each do |upload|
    %tr
      %td= upload.report_identifier
      %td= upload.created_at
%p &nbsp;
%p &nbsp;
%p &nbsp;
